<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue 3 Basics</title>
    <style>
        .box {
            width: 100px;
            height: 100px;
            background-color: red;
        }
        [v-cloak] {
            display: none;
        }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      {{ greeting }}
      <input v-model="greeting" />

      <hr />

      <button @click="toggleBox">Toggle Box</button>
      <div v-if="isVisible" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue 3!",
            isVisible: false,
          };
        },
        methods: {
          // () can be wrriten instead of ": function()"
          toggleBox () {
            this.isVisible = !this.isVisible;
          }
        }
      });
      app.mount("#app");
    </script>
  </body>
</html>
